/**
  * _navigation.scss
  * Styles for the main navigation bar on top of the page.
  */

.nav-main {
  font-size: $font-size; // override mobile media query
  text-align: center;

  position: sticky;
  top: 0;
  z-index: 1000;
  background: $body-background-color;
  
  margin-bottom: 4rem;

  ul {
    padding: 0;
    border-bottom: $nav-bottom-border-width solid $nav-bottom-border-color;
  }

  ul.nav-pc {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  li {
    display: inline-block;
    a {
      color: $nav-link-color;
      display: block;
      text-decoration: none;
      padding: $nav-link-padding-y $nav-link-padding-x;
    }
  }

  li.logo a {
    background: #ffffff;
    border: 2px solid #008EAA;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    margin: 0 0.75rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
      display: block;
      border-radius: 0;
    }
  }

  @media (max-width: 38em) {
    margin-bottom: 2rem;
  }

  .nav-primary,
  .nav-secondary {
    display: none;
  }

  @media (max-width: 768px) {
    .nav-pc {
      display: none;
    }
    
    .nav-primary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 10px
    }

    .logo {
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .menu-toggle {
      margin-left: auto;
      font-size: 2rem;
      cursor: pointer;
      display: block; // 모바일에서 햄버거 버튼 표시
    }

    .nav-secondary {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: white;
      width: max-content;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 5px;
    }

    .nav-secondary.active {
      display: flex;
    }
  }
}
