/**
  * _navigation.scss
  * Styles for the main navigation bar on top of the page.
  */

.nav-main {
  font-size: $font-size; // override mobile media query
  text-align: center;
  margin-bottom: 4rem;
  position: relative;

  @media (max-width: 38em) {
    margin-bottom: 2rem;
  }

  .nav-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px $nav-bottom-border-color;
  }

  .menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: none; // PC에서는 숨김
  }

  .nav-secondary {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  @media (max-width: 768px) {
    .nav-primary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .menu-toggle {
      display: block; // 모바일에서 햄버거 버튼 표시
    }

    .nav-secondary {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: white;
      width: 100%;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }

    .nav-secondary.active {
      display: flex;
    }
  }
}
