---
layout: default
---

{% assign page_lang = page.lang | default: "ko" %}

{% assign nav_posts = "" | split: "" %}
{% for p in site.posts %}
  {% assign p_lang = p.lang | default: "ko" %}
  {% if p_lang == page_lang %}
    {% assign nav_posts = nav_posts | push: p %}
  {% endif %}
{% endfor %}

{% assign curr_index = nil %}
{% for p in nav_posts %}
  {% if p.url == page.url %}
    {% assign curr_index = forloop.index0 %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign prev_post = nil %}
{% assign next_post = nil %}
{% if curr_index != nil %}
  {% if curr_index > 0 %}
    {% assign prev_index = curr_index | minus: 1 %}
    {% assign prev_post = nav_posts[prev_index] %}
  {% endif %}

  {% assign last_index = nav_posts.size | minus: 1 %}
  {% if curr_index < last_index %}
    {% assign next_index = curr_index | plus: 1 %}
    {% assign next_post = nav_posts[next_index] %}
  {% endif %}
{% endif %}

{% assign translated_post = nil %}
{% if page.ref %}
  {% assign target_lang = "en" %}
  {% if page_lang == "en" %}
    {% assign target_lang = "ko" %}
  {% endif %}

  {% for p in site.posts %}
    {% if p.ref == page.ref %}
      {% assign p_lang = p.lang | default: "ko" %}
      {% if p_lang == target_lang %}
        {% assign translated_post = p %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

<nav class="post-navigation">
  <div class="navigation-left">
    {% if prev_post %}
      <a class="prev-post" href="{{ prev_post.url | prepend: site.baseurl }}">
        <i class="fa-solid fa-circle-arrow-left"></i>
        <span class="navigation-text">Prev</span>
      </a>
    {% else %}
      <span class="navigation-item">
        <i class="fa-solid fa-circle-arrow-left"></i>
        <span class="navigation-text">Prev</span>
      </span>
    {% endif %}
  </div>

  <div class="navigation-list">
    <a class="list-post" href="{{ site.baseurl }}/blog/">
      <span class="navigation-text">List</span>
    </a>
  </div>

  <div class="navigation-right">
    {% if next_post %}
      <a class="next-post" href="{{ next_post.url | prepend: site.baseurl }}">
        <span class="pagination-text">Next</span>
        <i class="fa-solid fa-circle-arrow-right"></i>
      </a>
    {% else %}
      <span class="navigation-item">
        <span class="pagination-text">Next</span>
        <i class="fa-solid fa-circle-arrow-right"></i>
      </span>
    {% endif %}
  </div>
</nav>

<br>

<article class="post">
  {%- if translated_post -%}
    <p class="post-lang-switch">
      {% if page_lang == "ko" %}
        If you are an English user, <a href="{{ translated_post.url | prepend: site.baseurl }}">click here</a>.
      {% else %}
        한국어 버전은 <a href="{{ translated_post.url | prepend: site.baseurl }}">여기</a>를 클릭하세요.
      {% endif %}
    </p>
  {%- endif -%}

  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<nav class="post-navigation">
  <div class="navigation-left">
    {% if prev_post %}
      <a class="prev-post" href="{{ prev_post.url | prepend: site.baseurl }}">
        <i class="fa-solid fa-circle-arrow-left"></i>
        <span class="navigation-text">Prev</span>
      </a>
    {% else %}
      <span class="navigation-item">
        <i class="fa-solid fa-circle-arrow-left"></i>
        <span class="navigation-text">Prev</span>
      </span>
    {% endif %}
  </div>

  <div class="navigation-list">
    <a class="list-post" href="{{ site.baseurl }}/blog/">
      <span class="navigation-text">List</span>
    </a>
  </div>

  <div class="navigation-right">
    {% if next_post %}
      <a class="next-post" href="{{ next_post.url | prepend: site.baseurl }}">
        <span class="pagination-text">Next</span>
        <i class="fa-solid fa-circle-arrow-right"></i>
      </a>
    {% else %}
      <span class="navigation-item">
        <span class="pagination-text">Next</span>
        <i class="fa-solid fa-circle-arrow-right"></i>
      </span>
    {% endif %}
  </div>
</nav>

<br>



{%- comment -%}
<nav class="post-navigation">
  <div class="navigation-left">
    {% if page.previous %}
      <a class="prev-post" href="{{ page.previous.url | prepend: site.baseurl }}">
        <i class="fa-solid fa-circle-arrow-left"></i> 
        <span class="navigation-text">Prev</span>
      </a>
    {% else %}
      <span class="navigation-item">
        <i class="fa-solid fa-circle-arrow-left"></i> 
        <span class="navigation-text">Prev</span>
      </span>
    {% endif %}
  </div>

  <div class="navigation-list">
    <a class="list-post" href="{{ site.baseurl }}/blog/">
      <span class="navigation-text">List</span> 
    </a>
  </div>

  <div class="navigation-right">
    {% if page.next %}
      <a class="next-post" href="{{ page.next.url | prepend: site.baseurl }}">
        <span class="pagination-text">Next</span> 
        <i class="fa-solid fa-circle-arrow-right"></i>
      </a>
    {% else %}
      <span class="navigation-item">
        <span class="pagination-text">Next</span> 
        <i class="fa-solid fa-circle-arrow-right"></i>
      </span>
    {% endif %}
  </div>
</nav>

<br>
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<nav class="post-navigation">
  <div class="navigation-left">
    {% if page.previous %}
      <a class="prev-post" href="{{ page.previous.url | prepend: site.baseurl }}">
        <i class="fa-solid fa-circle-arrow-left"></i> 
        <span class="navigation-text">Prev</span>
      </a>
    {% else %}
      <span class="navigation-item">
        <i class="fa-solid fa-circle-arrow-left"></i> 
        <span class="navigation-text">Prev</span>
      </span>
    {% endif %}
  </div>

  <div class="navigation-list">
    <a class="list-post" href="{{ site.baseurl }}/blog/">
      <span class="navigation-text">List</span> 
    </a>
  </div>

  <div class="navigation-right">
    {% if page.next %}
      <a class="next-post" href="{{ page.next.url | prepend: site.baseurl }}">
        <span class="pagination-text">Next</span> 
        <i class="fa-solid fa-circle-arrow-right"></i>
      </a>
    {% else %}
      <span class="navigation-item">
        <span class="pagination-text">Next</span> 
        <i class="fa-solid fa-circle-arrow-right"></i>
      </span>
    {% endif %}
  </div>
</nav>
<br>
{%- endcomment -%}