---
layout: default
---

<nav class="post-navigation">
  <div class="navigation-left">
    {% if page.previous %}
      <a class="prev-post" href="{{ page.previous.url | prepend: site.baseurl }}">
        <i class="fa fa-arrow-circle-o-left"></i> 
        <span class="navigation-text">prev.</span>
      </a>
    {% else %}
      <span class="navigation-item">
        <i class="fa fa-arrow-circle-o-left"></i> 
        <span class="navigation-text">prev.</span>
      </span>
    {% endif %}
  </div>

  <div class="navigation-list">
    <a class="list-post" href="{{ site.baseurl }}/blog/">
      <span class="navigation-text">List</span> 
    </a>
  </div>

  <div class="navigation-right">
    {% if page.next %}
      <a class="next-post" href="{{ page.next.url | prepend: site.baseurl }}">
        <span class="pagination-text">next</span> 
        <i class="fa fa-arrow-circle-o-right"></i>
      </a>
    {% else %}
      <span class="navigation-item">
        <span class="pagination-text">next</span> 
        <i class="fa fa-arrow-circle-o-right"></i>
      </span>
    {% endif %}
  </div>
</nav>

<br>
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<nav class="post-navigation">
  <div class="navigation-left">
    {% if page.previous %}
      <a class="prev-post" href="{{ page.previous.url | prepend: site.baseurl }}">
        <i class="fa fa-arrow-circle-o-left"></i> 
        <span class="navigation-text">prev.</span>
      </a>
    {% else %}
      <span class="navigation-item">
        <i class="fa fa-arrow-circle-o-left"></i> 
        <span class="navigation-text">prev.</span>
      </span>
    {% endif %}
  </div>

  <div class="navigation-list">
    <a class="list-post" href="{{ site.baseurl }}/blog/">
      <span class="navigation-text">List</span> 
    </a>
  </div>

  <div class="navigation-right">
    {% if page.next %}
      <a class="next-post" href="{{ page.next.url | prepend: site.baseurl }}">
        <span class="pagination-text">next</span> 
        <i class="fa fa-arrow-circle-o-right"></i>
      </a>
    {% else %}
      <span class="navigation-item">
        <span class="pagination-text">next</span> 
        <i class="fa fa-arrow-circle-o-right"></i>
      </span>
    {% endif %}
  </div>

  <br>
</nav>
